---
layout: index
title: Home
permalink: /
---
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
              <i class="fa fa-magic" aria-hidden="true"></i>
                <span class="sr-only">An image of a magic wand</span>
                <h4>No Config</h4>
                <p>Seamless integration with existing services.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
              <i class="fa fa-shield" aria-hidden="true"></i>
                <span class="sr-only">An image of a shield</span>
                <h4>Super Secure</h4>
                <p>Support SSL/TLS end-to-end encryption.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
              <i class="fa fa-bolt" aria-hidden="true"></i>
                <span class="sr-only">An image of a bolt</span>
                <h4>Fast React</h4>
                <p>Real-time managing of cloud instances.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->
<br>

<!-- Competitors Table Content -->
{% include competitors.html title="" limit=5 %}
<!-- /.Competitors Table Content -->
<br>
<br>
<!-- Pricing Table Content -->
{% include pricing.html title="" limit=0 %}
<!-- /.Pricing Table Content -->
<br>
{% include portfolio.html title="" limit=0 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>The legend of Kaito.</h4>
            <div class="hline"></div>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">Discover the Legend</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><! --/row -->
</div><! --/container -->
