---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span class="sr-only">An image of a love-heart</span>
                <h4>No Config</h4>
                <p>Seamless integration with existing services.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <span class="sr-only">An image of a laboratory flask</span>
                <h4>Super Secure</h4>
                <p>Support SSL/TLS end-to-end encryption.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Fast React</h4>
                <p>Real-time managing of cloud instances.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->
<br>

  <!-- Pricing Table Content -->
  <div class="row">
      <div class="col-md-4">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">Micro</h3>
              </div>
              <div class="panel-body">
                  <span class="price"><sup>$</sup>0<sup>99</sup></span>
                  <span class="period">per month</span>
              </div>
              <ul class="list-group">
                  <li class="list-group-item"><strong> < 1GB</strong></li>
                  <li class="list-group-item">For personal websites, blogs, and anyone who wants to explore Kaito.</li>
                  <li class="list-group-item"><a href="#" class="btn btn-primary">Get Micro</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">Small</h3>
              </div>
              <div class="panel-body">
                  <span class="price"><sup>$</sup>1<sup>99</sup></span>
                  <span class="period">per month</span>
              </div>
              <ul class="list-group">
                  <li class="list-group-item"><strong> < 2GB</strong></li>
                  <li class="list-group-item">For professional websites, blogs, and portfolios requiring basic security and performance.</li>
                  <li class="list-group-item"><a href="#" class="btn btn-primary">Get Small</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-primary text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">Medium <span class="label label-success">Best Value</span></h3>
              </div>
              <div class="panel-body">
                  <span class="price"><sup>$</sup>2<sup>99</sup></span>
                  <span class="period">per month</span>
              </div>
              <ul class="list-group">
                  <li class="list-group-item"><strong> < 4GB</strong></li>
                  <li class="list-group-item">For small eCommerce websites and businesses requiring advanced security and performance, PCI compliance, and prioritized support.</li>
                  <li class="list-group-item"><a href="#" class="btn btn-primary">Get Medium</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">Large</h3>
              </div>
              <div class="panel-body">
                  <span class="price"><sup>$</sup>19<sup>99</sup></span>
                  <span class="period">per month</span>
              </div>
              <ul class="list-group">
                  <li class="list-group-item"><strong> < 16GB</strong></li>
                  <li class="list-group-item">For companies requiring enterprise-grade security and performance, 24/7/365 emergency support, and guaranteed uptime across one or more Internet assets.</li>
                  <li class="list-group-item"><a href="#" class="btn btn-primary">Get Large</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">XLarge</h3>
              </div>
              <div class="panel-body">
                  <span class="price"><sup>$</sup>29<sup>99</sup></span>
                  <span class="period">per month</span>
              </div>
              <ul class="list-group">
                  <li class="list-group-item"><strong> > 16GB</strong></li>
                  <li class="list-group-item">We will set a Ninja Squad expert in Kaito techniques to bring you to the Cloud Temple.</li>
                  <li class="list-group-item"><a href="#" class="btn btn-primary">Get XLarge</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">Integration</h3>
              </div>
              <div class="panel-body">
                  <span class="price"><sup>$</sup>0<sup>99</sup></span>
                  <span class="period">per month</span>
              </div>
              <ul class="list-group">
                  <li class="list-group-item"><strong>Slack, Github, Zapier</strong></li>
                  <li class="list-group-item"><a href="#" class="btn btn-primary">Add Integration</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /.Pricing Table Content -->

{% include portfolio.html title="DOJO" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Kaito ninjas.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><! --/row -->
</div><! --/container -->
