<div class="container">
    <div class="row centered">
      <div id="demo">
        <h1>Why is the cloud better with Kaito?</h1>

        <!-- Responsive table starts here -->
        <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
        <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table center table-hover table-mc-light-blue">
            <thead align="center">
              <tr>
                <th>Provider</th>
                <th>Kaito Tech</th>
                <th>Parkmycloud</th>
                <th>Skeddly</th>
                <th>CloudRanger</th>
                <th>Compute.io</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Provider">AWS</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-check" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Microsoft Azure</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Google Cloud</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">IBM Bluemix</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Digital Ocean</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Oracle Cloud</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Cloud at Cost</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">OVH</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Linode</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td data-title="Provider">Packet</td>
                <td data-title="Kaito Tech"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td data-title="Parkmycloud"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Skeddly"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="CloudRanger"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td data-title="Compute.io"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
