      <div class="wpr">
          <div class="col-md-2">
              <div class="panel panel-default text-center">
                  <div class="panel-heading">
                      <h3 class="panel-title">Small</h3>
                  </div>
                  <div class="panel-body">
                      <span class="price"><strong><sup>$</sup>4<sup>99</sup></strong></span>
                      <ul class="period">per instance memory/month</ul>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item"><strong> up to 2048 MB RAM</strong></li>
                      <li class="list-group-item"><a href="#" class="btn btn-primary">Get Small</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2">
              <div class="panel panel-primary text-center">
                  <div class="panel-heading">
                      <h3 class="panel-title">Medium <span class="label label-success">Best Value</span></h3>
                  </div>
                  <div class="panel-body">
                      <span class="price"><strong><sup>$</sup>9<sup>99</sup></strong></span>
                      <ul class="period">per instance memory/month</ul>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item"><strong> up to 4096 MB RAM</strong></li>
                      <li class="list-group-item"><a href="#" class="btn btn-primary">Get Medium</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2">
              <div class="panel panel-default text-center">
                  <div class="panel-heading">
                      <h3 class="panel-title">Large</h3>
                  </div>
                  <div class="panel-body">
                      <span class="price"><strong><sup>$</sup>19<sup>99</sup></strong></span>
                      <ul class="period">per instance memory/month</ul>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item"><strong> up to 16384 MB RAM</strong></li>
                      <li class="list-group-item"><a href="#" class="btn btn-primary">Get Large</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
